.banner-upper {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bba0d3+0,73ff2d+50,bce0ee+100 */
    background: #bba0d3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #bba0d3 0%, #73ff2d 50%, #bce0ee 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #bba0d3 0%, #73ff2d 50%, #bce0ee 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bba0d3 0%, #73ff2d 50%, #bce0ee 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bba0d3', endColorstr='#bce0ee', GradientType=0);
    /* IE6-9 */

    width: auto;
    height: 150px;
    margin-top: 10px;
    font-size: 50px;

}