.style-off{
    color:#d2f4ea;
}

ul{
  margin: 0;
  padding: 0;
}

ul li a:hover{
  cursor: pointer;
}

.role_teacher_color_schema{
  background-color: #8E7B8C;
  opacity: 62%;
}

.role_student_color_schema{
    background-color: #196220;
    opacity: 62%;
}

.role_certifier_color_schma{
    background-color: #62195A;
    opacity: 62%;
}