// top-subjects.scss

$primary-color: black; // 

.top-materials {
  h1 {
    color: $primary-color;
  }
.h2{
    margin-left: 5%;
}

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 5%;
    margin-right: 10%;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    strong {
      font-weight: bold;
    }

    .views {
      color: gray;
    }

  }
}
